// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}


footer {
  text-align: center;
}

.favicon {
  width: 24px;
  float: left;
  margin-right: 16px;
}

.btn-logout {
  margin-top: 8px;
  background-color: #f8f8f8;
  color: #888;

  &:hover {
    background-color: #e8e8e8;
  }
}

.gravatar {
  width: 100%;
}


.user-show-bg {
  background: url("/img/bg/user-info-bg.jpg") no-repeat;
  background-size: calc(100% - 30px) 256px;
  background-position: 15px 15px;

  .photo-img {
    width: 144px;
    height: 144px;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 5px 0px;
    margin: 56px 40px;
  }

  .title-name {
    font-size: 28px;
    font-weight: bold;
    padding: 4px 8px;
    border-bottom: 4px solid #66aaff;
    min-width: 172px;
    text-shadow: #666 1px 1px 8px ;
    display: inline-block;
    margin-top: 120px;
  }

  .title-attach {
    padding: 2px;

    .title-count {
      color: #666;
      margin-left: 4px;
      font-weight: normal;
      font-size: 13px;
    }

  }
}


.panel-content {
  min-height: 336px;
}

.panel-fans {
  min-height: 232px;
}

.panel-title {
  font-size: 14px;
}

.control-edit {
  display: inline;
  width: calc(100% - 80px);
  margin-left: 16px;
}

.user-panel {
  padding: 40px;
}

.user-show-btn {
  text-align: center;
}

.btn-notes-published {
  float: right;
}

.input-notes-content {
  resize: none;
}

.label-notes {
  display: inline-block;
  margin-top: 4px;
  color: #888;
}

.label-note-show {
  background-color: #aaa;
  font-weight: normal;
}

.fans-list {
  padding-left: 2px;
  padding-right: 2px;
}

.tips {
  margin-top: 16px;
  color: #aaa;
  font-size: 12px;
  text-align: center;
}

.fans-panel-body {
  padding: 16px;

  .row {
    padding: 0 8px;

    a {
      margin-bottom: 8px;
    }
  }
}

.page-split {
  text-align: center;
}

.message-passage {
  margin-top: 8px;
}

.message-item {
  form {
    display: none;
    height: 20px;

    button {
      padding: 0px 5px;
      margin-top: 1px;
    }
  }

  &:hover form {
    display: inline-block;
  }
}

.message-item-key {
  line-height: 18px;
}

.message-passage {
  text-indent: 2em;
}

.message-nav {
  display: inline-block;
  float: right;

  ul {
    display: inline-block;
    margin: 0px;
  }
}



.message-passage-panel {
  min-height: 120px;
}