// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}
//
//.gravatar {
//  float: left;
//  margin-right: 10px;
//  max-width: 50px;
//  border-radius: 50%;
//}

footer {
  text-align: center;
}

.favicon {
  width: 24px;
  float: left;
  margin-right: 16px;
}

.btn-logout {
  margin-top: 8px;
  background-color: #f8f8f8;
  color: #888;

  &:hover {
    background-color: #e8e8e8;
  }
}

.photo-img {
  position: absolute;
  top: 64px;
  left: 72px;
  width: 144px;
  height: 144px;
  border: 2px solid #FFF;
  box-shadow: 0px 0px 5px 0px;
}

.gravatar {
  width: 100%;
}

.title-username {
  position: absolute;
  top: 124px;
  left: 248px;
  font-size: 28px;
  font-weight: bold;
  padding: 4px 8px;
  border-bottom: 4px solid #66aaff;
  min-width: 172px;
  text-shadow: #666 1px 1px 8px ;
}
.title-info {
  position: absolute;
  top: 182px;
  left: 248px;
  padding: 2px;
}
.title-info .title-info-count {
  color: #666;
  margin-left: 4px;
  font-weight: normal;
  font-size: 13px;
}
.title-info .title-info-link {
  text-decoration: none;
  margin-right: 12px;
}
.panel-body {
  min-height: 420px;
}
.panel-title {
  font-size: 14px;
}